<!DOCTYPE html>
<html lang="en">
  
  <div class="row text-center">
    <div class="span4 offset1">

	    <body id="index">
	    	<h3>Learn Skills</h3>
	    <strong>
	    Find assistance learning the skills you've always wanted, utilizing the experience of people in your area.
	  </strong>
	  </body>

	    <h3>Teach Skills</h3>
	    <strong>
	    Fact: You know things that others want to learn, and you don't have to be a professional to assist others in developing skills. Stop letting your knowledge go unused and sign up today!
	  </strong>
	    
	    <h3> How does it work?</h3>
	    <strong>
	    SkillSesh allows the average person to list skills they would be comfortable teaching to learners in their area, where you can find them and request their tutelage. It also allows people to make "skill requests", so they can see if anyone in their area can help them learn a specific skill. Learn more.
	  </strong>
    </div>

  <div class="span4 offset1">
  	
  	<h3>
  	 Sign up below to be informed when we launch in Portland!
  	</h3>
     <br>
  	 <%= render 'layouts/gform1' %>
  	
  	</div>
	</div>
  <div class="span4">


</div>
</div>
<div class="row">
  <div class="span3 offset1">
  	
  </div>
  <div class="span4">
  	
  </div>
  <div class="span3">
  </div>


</div>
</html>