<!DOCTYPE html>
<html lang="en">
  
  <div class="row text-center">
    <div class="span4 offset1">

	    <body id="index">
	    	<h3>Learn Skills</h3>
	    <strong>
	    Find assistance learning the skills you've always wanted, utilizing the experience of people in your area.
	  </strong>
	  </body>

	    <h3>Teach Skills</h3>
	    <strong>
	    Fact: You know things that others want to learn, and you don't have to be a professional to assist others in developing skills. Stop letting your knowledge go unused and sign up today!
	  </strong>
	    
	    <h3> How does it work?</h3>
	    <strong>
	    SkillSesh is a two sided marketplace, allowing anyone to list areas of expertise they would be comfortable teaching. Skill seekers can make a "skill request" to see if anyone in their area can assist them. It's an open market for talent!
	  </strong>
    </div>

  <div class="span4 offset1">
  	
  	<h3>
  	 Sign up below to be informed when we launch in Portland!
  	</h3>
     <br>
  	 <%= render 'layouts/gform1' %>
  	
  	</div>
	</div>
  <div class="span4">


</div>
</div>
<div class="row">
  <div class="span3 offset1">
  	
  </div>
  <div class="span4">
  	
  </div>
  <div class="span3">
  </div>


</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44161469-1', 'skillsesh.com');
  ga('send', 'pageview');

</script>
</html>