
<div class="text-center">
	<h3>
		<div style="color:#000000"> 
SkillSesh is being designed to optimally fit the needs of it's users. We want to provide the best value possible, in empowering people to share their knowledge. So feel free to drop us an email with feedback, whether it be on the concept, features you would like, or just to hear about our progress.
<br>
<br>
We would love to hear from you.
</h3>
</div>

<br>
<body id="index">
<h3>
	<div class="text-center">
SkillSesh@gmail.com
</div>
</h3>
</body>
</div>