<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />  
    <title>collapsible example</title>  
    <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />  
  
</head>  
<body>  
   <div class="container-fluid">  
     <div class="accordion" id="accordion2">  
     	<div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">  
                 Who should learn from SkillSesh?  
                </a>  
              </div>  
              <div id="collapseSix" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  Literally anyone who wants to learn a new skill. 
                  You might use SkillSesh to improve yourself instead of going to the movies. You might be stuck on a subject in class and need a little face to face help. You might want to brush up on an old hobby like guitar or photography.
                </div>  
              </div>  
            </div> 
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  Who is allowed to teach?  
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                  We encourage anyone who has achieved a level of proficiency in a skill that would make them comfortable teaching others to sign up and pitch their knowledge. This ranges from the elite in a given field, to those with just enough experience to help others along the way. The important thing is that you're honest about your capacity.  
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 How do I ensure the quality of an instructor?  
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  You have the ability to read credentials, instructor reviews, and set your goals with an instructor accordingly. It's important to to focus on communication before scheduling a session, to ensure the instructor is a good fit for your needs.
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                  Can't I just learn anything online?  
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  Of course you can! The problem is that online learning can be really difficult when you don't have someone to work with your specific needs. SkillSesh can be the perfect supplement to online learning for those that get stuck or just need a face to face session to help them overcome a difficult concept.
                </div>  
              </div>  
            </div> 
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">  
                 How can I get people to learn from me?  
                </a>  
              </div>  
              <div id="collapseFour" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  Because SkillSesh is an open market, it's important to communicate the unique value your experience can offer someone in achieving thir goals. Make sure that your Skill Session details communicate not just what you know, but what you can provide, in a fun and engaging way.
                  <br>
                  We also encourage instructors to promote their profiles independently. Use your social media presence to direct people to your profile. Be proud of what you have to offer!
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">  
                 Why should I use SkillSesh to book my teaching sessions?  
                </a>  
              </div>  
              <div id="collapseFive" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  1. SkillSesh provides convenience in reaching out to people who otherwise wouldn't be exposed to your offerings.
                  <br>
                  2. SkillSesh provides a platform for payment that simplifies the exchange, increasing security for both parties.
                  <br>
                  3. When you teach on SkillSesh, you get reviewed and are able to grow your credentials within the community. This allows you to improve your teaching as well as attract more students.
                </div>  
              </div>  
            </div> 
          </div>  
    </div>  
    <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
    <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-collapse.js"></script>  
</body>  
</html> 
